address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      align-items: baseline;
      justify-content: left;
      flex-wrap: nowrap;
    }
  }
}
.footer-logo {
  display: block;
  font-family: 'Raleway', 'sans-serif';
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  & span {
    color: var(--hover-color);
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-item {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-link-contacts {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.footer-item .footer-map {
  color: var(--white-color);
}
.footer-connect {
  // margin-left: 70px;
  padding-left: 137px;
  padding-right: 137px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-left: 70px;
  }
}
.footer-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
.footer-icons-item:not(:last-child) {
  margin-right: 10px;
}
.form-title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
.footer-form-wrap {
  // margin-left: auto;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.footer-input {
  width: 450px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  &:focus {
    border-color: var(--hover-color);
  }
  &:hover {
    border: 1px solid var(--hover-color);
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer-submit {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.icon-footer-submit {
  margin-left: 12px;
}
