.backdrop {
  width: 100%;
  height: 100%;
  background-color: #090b1351;
  position: fixed;
  opacity: 1;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--hover-color);
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-field:hover input,
.modal-field:hover textarea {
  border: 1px solid var(--hover-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  fill: var(--default-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--hover-color);
  }
}
.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--default-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .icon-modal {
  fill: var(--hover-color);
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--hover-color);
  }
}
.submit-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.modal-submit {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #1472bf;
  }
}
.input-wrap {
  position: relative;
}

.check-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #757575;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.17;
  }
}
.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}
.modal-check:checked + .check-text::before {
  background-color: var(--hover-color);
  background-image: url(../images/Vector.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-privacy {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
